
body{
    background-color: black;
}
p{
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 1.5em;
    color: greenyellow;
}
h1{
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 4em;
    font-weight: bold;
    color: greenyellow;
}